<div class="container m-5">
  <hr><br>
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 imagen-uno caja-imagen zoom"></div>
    <div class="col-12 col-md-7 fw-bold">
      <h1 class="bg-primary bg-gradient p-1 text-center">San Fernando Plaza</h1>
      <br/>
      <h3 class="text-center">Elegido como el mejor Hotel de Colombia</h3>      
      <br><br>
      <p>El Hotel San Fernando Plaza ofrece alojamiento de lujo en Medellín, en el exclusivo distrito financiero y comercial de El Poblado, y cuenta con piscina climatizada al aire libre, instalaciones de spa y centro de fitness. Hay un restaurante y un bar. <br /><br />Las habitaciones del San Fernando Plaza son amplias y cuentan con zona de estar y WiFi de alta velocidad. Hay TV vía satélite. Algunas habitaciones tienen terraza amplia con vistas a la ciudad.</p>
      <br><br>
      <h4>Hotel 5 Estrellas ⭐ Medellín</h4>
    </div>
  </div>
  <br><hr>
</div>
