<div class="container">
    <h1 class="bg-primary bg-gradient p-1 text-center mb-4">Habitaciones</h1>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col" *ngFor="let habitacion of habitaciones">
          <div class="card h-100 shadow p-3 zoom"> <br>
              <img src={{habitacion.fotografias[0]}} alt="" class="img-fluid w-100 h-100"><br>
              <h2 class="text-center fw-bold">{{habitacion.nombre}}</h2>
              <p class="fw-bold">{{habitacion.descripcion}}<p>                                          
          </div>
        </div>
    </div>
  </div>
