<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">



<div class="container">  
    <br><br>
    <h1 class="text-center fw-bold my-5 bg-primary bg-gradient p-1">Servicios</h1>

    <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../assets/img/hotelPiscina.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/img/salaConferencias.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/img/salonEventos.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col-12">
        <hr>
        <table class="table-primary fw-bold table-striped-columns">
            <tr class="my-5 table-primary">
                <td class="titulo text-center">Restaurante <img src="../../assets/img/restauranteHotel.jpg" class="img-fluid m-3" height="80%" width="80%"></td>
                <td class="">Todos los días se sirve un desayuno buffet. El restaurante Spezia propone una amplia variedad de vinos, platos internacionales y de estilo vanguardista. El bar del vestíbulo sirve bebidas de calidad en la terraza. Se proporciona servicio de habitaciones las 24 horas.</td>
                             
            </tr>
        </table>
        <hr>
        <table class="table-primary fw-bold table-striped-columns">
            <tr>
                <td class="titulo text-center">Centro de Negocios <img src="../../assets/img/salaConferencias.jpg" class="img-fluid m-3" height="80%" width="80%"></td>
                <td>Para su comodidad, el Hotel San Fernando Plaza Medellín, cuenta con un Centros de Negocios dotado con equipos de cómputo de alta tecnología, situado en el lobby principal Nuestro personal amable y profesional está dispuesto a ayudarle con todas sus necesidades de negocio.</td>              
            </tr>
        </table>
        <hr>
        <table class="table-primary fw-bold table-striped-columns">
            <tr>
                <td class="titulo text-center">Gimnasio y Spa <img src="../../assets/img/spa.jpg" class="img-fluid m-3" height="80%" width="80%"></td>
                <td>Ofrece a nuestros huéspedes excelentes equipos multifuncionales, de spinning, bandas trotadoras y elípticas. Un espacio dirigido y completamente adecuado para ejercitarse, relajarse y fortalecer su cuerpo y mente. El spa está equipado con baño turco, sauna y servicio de masajes. También hay un gimnasio y tumbonas junto a la piscina. El aparcamiento está disponible por un suplemento.</td>   
            </tr>
        </table>
        <hr>
        <table class="table-primary fw-bold table-striped-columns">
            <tr>
                <td class="titulo text-center">Transporte<img src="../../assets/img/spa.jfif" class="img-fluid m-3" height="80%" width="80%"></td>
                <td>La recepción está abierta las 24 horas y ofrece un servicio de enlace con el aeropuerto   Olaya Herrera, situado a 20 minutos en coche. El Hotel San Fernando Plaza se sitúa a 30 minutos en coche de la plaza de Botero.
                Nuestros clientes dicen que esta parte de Medellín es su favorita, según los comentarios independientes.</td>  
            </tr>            
        </table> 
        <hr>       
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>