<section>
    <footer>
        <div class="container-fluid p-2 mt-5">
            <div class="row bg-dark bg-gradient justify-content-center align-items-center">
                <div class="col-12 col-md-4 mt-3">
                    <img src="../../../assets/img/loguito.png" alt="" class="img-fluid w-100"><br><br>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <h3 class="text-light fw-bold">Menú</h3>
                    <ul class="list-unstyled">
                        <li><a class="nav-link text-white" href="#"><h5>Inicio</h5></a></li>
                        <li><a class="nav-link text-white" href="#"><h5>Reservas</h5></a></li>
                        <li><a class="nav-link text-white" href="#"><h5>Servicios</h5></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-light">
                    <h3 class="text-light fw-bold">Nuestras Redes</h3>
                    <i class="bi bi-instagram fs-1 ms-2"></i>
                    <i class="bi bi-facebook fs-1 ms-2"></i>
                    <i class="bi bi-youtube fs-1 ms-2"></i>
                    <i class="bi bi-whatsapp fs-1 ms-2"></i>
                    <div class="row text-start">
                        <p>@sanfernandoplaza.com</p>
                        <br><br><br>
                        <div class="col  fw-bold">
                            <h6>Cra. 42A # 1-15, El Poblado - Medellín</h6>
                            <h6>Corporatepoint Colombia</h6>
                            <h6>(604) 4445353</h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
</section>